* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  font-family: 'Arial', cursive;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("img/BG3.jpg");
  color: #8d8ed1;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header h1 {
  width: 80%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  color: #232ca1;
  background-color: #23316e60;
  font-size: 3rem;
  border: 6px solid #232ca1;
  border-top: 12 px solid;
  border-bottom: 12px solid #232ca1;
  padding: 50px;
  border-radius: 50%;
  text-shadow: 0 5px 10px #000;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-top: 10px;
  border-bottom: 2px solid #232ca1;
}

body nav .nav-item {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  accent-color: #232ca1;
}

body nav .nav-item #searchLabel {
  padding: 0;
}

body nav .nav-item #searchBar {
  outline: none;
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 2px;
  color: black;
  font-size: 0.9em;
  width: 150px;
  height: 20px;
  -webkit-text-stroke: 0.2px #232ca1;
}

body nav .nav-item #searchBar:focus-within {
  border: 2px solid #232ca1;
  border-radius: 2px;
}

body .movieWrapper {
  height: 300px;
  width: 90%;
  overflow-x: scroll;
}

body .movieWrapper #movies {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
  padding: 10px;
  padding-bottom: 15px;
  margin: 10px;
}

body .movieWrapper #movies img {
  width: 150px;
  height: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px 0 black;
          box-shadow: 0 10px 20px 0 black;
  border: 3px solid #ffc400;
}

body .movieWrapper #movies img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 200ms opacity ease-in-out, 500ms -webkit-transform ease-in-out;
  transition: 200ms opacity ease-in-out, 500ms -webkit-transform ease-in-out;
  transition: 500ms transform ease-in-out, 200ms opacity ease-in-out;
  transition: 500ms transform ease-in-out, 200ms opacity ease-in-out, 500ms -webkit-transform ease-in-out;
  -webkit-box-shadow: 0 10px 20px 0 black;
          box-shadow: 0 10px 20px 0 black;
  border: 3px solid #232ca1;
  cursor: pointer;
}

body h2 {
  font-size: 3em;
  text-transform: uppercase;
  padding-top: 20px;
  width: 80%;
  text-align: center;
  border-bottom: 2px solid #232ca1;
  text-shadow: 0 5px 10px #000;
}

body .allMoviesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .allMoviesWrapper #allMovies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  gap: 12px;
  padding: 15px 0 30px 0;
  margin: 0 20px;
}

body .allMoviesWrapper #allMovies img {
  height: 90%;
  width: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px 0 black;
          box-shadow: 0 10px 20px 0 black;
  border: 3px solid #ffc400;
}

body .allMoviesWrapper #allMovies img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 200ms opacity ease-in-out, 500ms -webkit-transform ease-in-out;
  transition: 200ms opacity ease-in-out, 500ms -webkit-transform ease-in-out;
  transition: 500ms transform ease-in-out, 200ms opacity ease-in-out;
  transition: 500ms transform ease-in-out, 200ms opacity ease-in-out, 500ms -webkit-transform ease-in-out;
  -webkit-box-shadow: 0 10px 20px 0 black;
          box-shadow: 0 10px 20px 0 black;
  border: 3px solid #232ca1;
  cursor: pointer;
}

body footer {
  width: 80%;
  border-top: 2px solid #232ca1;
  padding: 5px 0;
}

body footer p {
  text-align: center;
}

::-webkit-scrollbar {
  width: 1.5em;
  background-color: #76767660;
  border-radius: 5px;
  height: 1.2em;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #8d8ed1;
  margin: 3px;
  border-radius: 5px;
  border: 2px solid #232ca1;
}
/*# sourceMappingURL=style.css.map */